 
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <!--LEFT SIDE NAVBAR -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'news_home' %}">HOME</a>
      </li>
      {% for cat in categories%}
        <li class="nav-item">
          <a class="nav-link" href="#">{{cat.name | upper }}</a>
        </li>
  
      {% endfor %}
      </ul>
      <!--END LEFT SIDE NAVBAR -->
      
       <!--RIGHT SIDE NAVBAR -->
      {% if request.user.is_authenticated %}
      <table class="navbar-nav">
        <tr>
          <td class="nav-item dropdown">
            <!-- This should be a dropdown -->
            <a class="nav-link p-0 pr-3 nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{user.username  | capfirst}}</a>
            <div class="dropdown-menu" style="left: -100px !important;">
              <a href="{% url 'account' %}" class="dropdown-item">Account</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout'  %}">Logout</a>
            </div>
          </td>
          <td>
            <!-- This should be a dropdown -->
            {% if user.profile_picture %}
            <img src="{{user.profile_picture.url}}" alt="avatar image" height="35" style="border-radius: 60%;">
            </div>
            {% else %}
            <img src="https://e7.pngegg.com/pngimages/833/38/png-clipart-user-profile-computer-software-internet-bot-user-miscellaneous-service.png" alt="avatar image" height="35" style="border-radius: 60%;">
            </div>
            {% endif %}
          </td>
        </tr>
      </table>
      {% else %}
      <div class="navbar-nav">
        <a class="nav-link" href="{% url 'register'  %}">Register</a>
        <a class="nav-link" href="{% url 'login'  %}">Login</a>
      </div>
      {%endif%}
      <!--END OF RIGHT SIDE NAVBAR -->
  </nav>
  <!--/.Navbar -->