{% extends 'news/base.html' %}

{% block content %}
{% if not categories%}
  <div class="card mt-5">
    <div class="card-body">
      <h2 class="text-center san  blink">You need to go into your account settings and add some categories in orther to
        see news articles!</h1>
    </div>
  </div>
{%else%}
  {% for category in categories%}
  <div class="card" style="margin-top: 100px !important;">
    <div class="card-body">
      <h3 class="text-center san">{{ category }}</h3>
      <div class="row mt-5 ">
        {% for news in category.get_news %}
        <div name="article" class=" d-flex p-2  panel-shadow mb-5">
          <div class="col-sm-12">
            <div class="panel panel-white post panel-shadow">
              <div class="post-heading">
                <div class="pull-left image">
                  <img style="height: 200px; width: 200px !important" src={{news.image.url}} alt="Card image cap"
                    class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                  <div class="title h5">
                    <h5 class="card-text title">{{ news.title}}</h5>
                  </div>
                </div>
              </div>
              <div class="post-description">
                <p class="card-text">{{news.content | slice:"600" }} ...</p>
                <div class="text-center">
                  <a type="button" href="{% url 'article' pk=news.id %}" id="article-button"
                    class="btn btn-outline-dark stat-item" data-id={{ news.id }}>View Full Article</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    </div>
  </div>
  {% endfor %}
{% endif %}
{% endblock %}