{% extends 'news/base.html' %}

{% block content %}
<div class="a">
    <form class="form-signin" method="POST" enctype="multipart/form-data"> {% csrf_token %}
      <h1 class="h3 md-3 font-weight-normal text-center">Account Settings</h1>

      <div class="fieldWrapper">
        <div class="profile-picture text-center">
            <img id="profile_pic_acc"  src="{{ request.user.profile_picture.url }}" alt="profile pic"/>
        </div>
        <div class="delete_profile_button text-center mt-3">
            {% if not request.user.profile_picture.url == "/media/profilePic/pp.png" %}
                <button type="button" class="btn btn-danger" id="delete-button" data-id={{request.user.id}}>Delete</button>
            {% endif %}
        </div>
    </div>

    <div class="fieldWrapper mt-5 mb-5">
        {{account_form.profile_picture}}
        {{account_form.profile_picture.errors}}
    </div>

    

      <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" value="{{account_form.initial.username}}" required autofocus>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" value="{{account_form.initial.email}}" required>
      
      <h1 class="h4 mt-5 md-3 mb-5 font-weight-normal text-center">Select your favourite categories:</h1>
      {% for fav in account_form.favourite%}

      {{fav}} <br>

      {%endfor%}

      
      {% for field in account_form %}
        <p>
          {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
          {% endfor %}
        </p>
      {% endfor %}
      {% if account_form.non_field_errors %}
        <div style="color: red">
          <p>{{account_form.non_field_errors}}</p>
        </div>
      {% endif %}
    
      <button class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
    </form>
    </div>

<script>
    var CSRF_TOKEN = '{{ csrf_token }}'
</script>
{% endblock %}