{% extends 'news/base.html' %}

{% block content %}
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        ...
      </div>
    </div>
  </div>
  
<h2>Account</h2>
<form method="POST" enctype="multipart/form-data">
{{account_form.non_field_errors}}
<div class="fieldWrapper">
    <div class="profile-picture">
        <img height="200px" width="200px" src="{{ request.user.profile_picture.url }}" alt="Avathar"/>
    </div>
    <div class="delete_profile_button">
        {% if request.user.profile_picture.url == "/media/profilePic/pp.png" %}
            <p>You cannot delete your default profile picture</p>
        {% else %}
            <button type="button" id="delete-button" data-id={{request.user.id}}>Delete</button>
        {% endif %}
    </div>
</div>

<div class="fieldWrapper">
    {{account_form.profile_picture.errors}}
    {{account_form.profile_picture}}
</div>
<div class="fieldWrapper">
    {{account_form.username.errors}}
    <label for="{{account_form.username.id_for_label}}">Username:</label>
    {{account_form.username}}
</div>
<div class="fieldWrapper">
    {{account_form.email.errors}}
    <label for="{{account_form.email.id_for_label}}">Email:</label>
    {{account_form.email}}
</div>
<div class="fieldWrapper">
    {{account_form.favourite.errors}}
    <label for="{{account_form.favourite.id_for_label}}">News Category:</label>
    {{account_form.favourite}}
</div>
{% csrf_token %}
<button id="sub_button" type="submit">Save Changes</button>
</form> 
<!-- <form method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{account_form.as_ul}}
    {% for field in account_form%}
        <p>
            {{field.label_tag}}
            {{field}}

            {% if field.help_text %}
                <small style='color:grey'>{{field.help_text}}</small>
            {% endif %}

			{% for error in field.errors %}
				<p style="color: red;">{{error}}</p>
            {% endfor %}
            
            {% if account_form.non_field_errors  %}
                <div style="color:red;">
                    <p>{{account_form.non_field_error}}</p>
                </div>
            {% endif %}
        </p>
    {% endfor %}
    
    <img height="200px" width="200px" src="{{ request.user.profile_picture.url }}" alt="Avathar"/>
    <button type="submit">Save Changes</button>
</form> -->

{% endblock %}