{% extends 'news/base.html' %}

{% block content %}


<h2>Login</h2>
<form class="form-signin" method="POST">{% csrf_token %}
    {% for field in login_form %}
    <p>
        {{field.label_tag}}
        {{field}}

        {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
        {% endfor %}

    </p>
    {% endfor %}
 {% if login_form.non_field_errors %}
    <div style="color: red">
      <p>{{login_form.non_field_errors}}</p>
    </div>
      
  {% endif %}

    <button type="submit">Login</button>
</form>

{% endblock %}