{% extends 'news/base.html' %}

{% block content %}
<div class="a">
<form class="form-signin" method="POST"> 
  <h1 class="h3 md-3 font-weight-normal text-center">Login</h1>

  <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
  {% csrf_token %}
  {% for field in login_form %}
    <p>
      {% for error in field.errors %}
        <p style="color: red;">{{error}}</p>
      {% endfor %}
    </p>
  {% endfor %}
  {% if login_form.non_field_errors %}
    <div style="color: red">
      <p>{{login_form.non_field_errors}}</p>
    </div>
  {% endif %}

  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
</form>
</div>

{% endblock %}